In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [3]:
df.head(2)

   col1  col2 col3
0     1   444  abc
1     2   555  def

# Finding unique values

In [4]:
df['col2'].unique()

array([444, 555, 666])

In [5]:
# get the number of unique value
df['col2'].nunique()

3